################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*.ide
*.ide-shm
*.ide-wal
*/[O][o]bj/
*/[B][b]in/
*/[O][o]bj/*.*
*/[B][b]in/*.*
*/[O][o]bj/[D][d]ebug/
*/[B][b]in/[D][d]ebug/
*/[O][o]bj/[R][r]eleased/
*/[B][b]in/[R][r]eleased/
*/[O][o]bj/[D][d]ebug/*.*
*/[B][b]in/[D][d]ebug/*.*
*/[O][o]bj/[R][r]eleased/*.*
*/[B][b]in/[R][r]eleased/*.*
.vs/*.*
CryptoManagement/[O][o]bj/
CryptoManagement/[B][b]in/
CryptoManagement/[O][o]bj/*.*
CryptoManagement/[B][b]in/*.*
CryptoManagement/[O][o]bj/[D][d]ebug/
CryptoManagement/[B][b]in/[D][d]ebug/
CryptoManagement/[O][o]bj/[R][r]eleased/
CryptoManagement/[B][b]in/[R][r]eleased/
CryptoManagement/[O][o]bj/[D][d]ebug/*.*
CryptoManagement/[B][b]in/[D][d]ebug/*.*
CryptoManagement/[O][o]bj/[R][r]eleased/*.*
CryptoManagement/[B][b]in/[R][r]eleased/*.*
XPW.Utilities/[O][o]bj/
XPW.Utilities/[B][b]in/
XPW.Utilities/[O][o]bj/*.*
XPW.Utilities/[B][b]in/*.*
XPW.Utilities/[O][o]bj/[D][d]ebug/
XPW.Utilities/[B][b]in/[D][d]ebug/
XPW.Utilities/[O][o]bj/[R][r]eleased/
XPW.Utilities/[B][b]in/[R][r]eleased/
XPW.Utilities/[O][o]bj/[D][d]ebug/*.*
XPW.Utilities/[B][b]in/[D][d]ebug/*.*
XPW.Utilities/[O][o]bj/[R][r]eleased/*.*
XPW.Utilities/[B][b]in/[R][r]eleased/*.*
